/** Main Content **/

.main-content {
    background: url(../img/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 100% 100%;
    position: relative;
  
    .main-content-wrapper {
      @include middle;
  
      h1 {
        @include title(100px);
      }
      h5 {
        @include sub_title;
      }
    }
  }